[submodule "DevOps_Python"]
	path = DevOps_Python
	url = git@github.com:lethuptit/DevOps_Python.git
[submodule "wordsmith"]
	path = wordsmith
	url = git@github.com:lethuptit/wordsmith.git
[submodule "ComIT-Project"]
	path = ComIT-Project
	url = git@github.com:lethuptit/ComIT-Project.git
[submodule "python_feedback_app"]
	path = python_feedback_app
	url = git@github.com:lethuptit/python_feedback_app.git
[submodule "ansible-aws-cli"]
	path = ansible-aws-cli
	url = git@github.com:lethuptit/ansible-aws-cli.git
