[submodule "DevOps_Python"]
	path = DevOps_Python
	url = git@github.com:lethuptit/DevOps_Python.git
[submodule "wordsmith"]
	path = wordsmith
	url = git@github.com:lethuptit/wordsmith.git
[submodule "ComIT-Project"]
	path = ComIT-Project
	url = git@github.com:lethuptit/ComIT-Project.git
